*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #303030;
  color: white;
  font-size: .7rem;
}

ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
}

main{
  padding: 10px 15px;
  text-align: center;
  /*width: 360px;*/
}

.btn{
  background-color: #fff;
  color: #303030;
  padding: 10px;
  border-radius: 5px;
  display: block;
  width: 150px;
}

.top-header{
  background-color: #0690ec;
  text-align: center;
  padding: 8px 0;
}
.top-header a{
  margin-left: 20px;
  text-transform: uppercase;
}
.titulo h3{
  text-transform: uppercase;
  font-size: 1.5rem;
  margin-bottom: 25px;
  font-weight: 400;
}
.form{
  display: flex;
  flex-wrap: wrap;
  padding: 0 10px;
  width: 360px;
  margin: 0 auto;
}
.form input, .form select, .form textarea{
  padding: 8px;
  margin-bottom: 1.5%;
  border-radius: 4px;
  outline: 0;
  border: none;
  color: #303030;
  background-color: #f9fdf5;
}
::-webkit-input-placeholder{
  color: #646464;
}
.form input:nth-child(1){
  width: 360px;
}
.form input:nth-child(2){
  width: 13%;
  margin-right: 1%;
}
.form input:nth-child(3){
  width: 86%;
}
.form input:nth-child(4){
  width: 100%;
    
}
.form select{
  width: 100%;
    
}
.form textarea{
  width: 100%;
}
.form button{
  border: none;
  margin-top: 5px;
  padding: 12px 0;
  background-color: #39612C;
  color: honeydew;
  text-transform: uppercase;
  font-size: 1.2rem;
  border-radius: 7px;
  width: 100%;
}
.enviado, .erro{
  margin-top: 8px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
}
.enviado{
  color: #39612C;;
}
.erro{
  color: #7c0000;
}


.main-msg{
  width: 100%;
  background-color: #303030;
  padding: 15px 8px;
}
.center{
  width: 100%; 
  max-width: 880px; 
  margin: 0 auto;
}
.contatos-menu{
  margin-bottom: 15px;
}
.contatos-menu a{
  text-transform: uppercase;
}
.contatos-menu a:hover{
  color: #02972f;
}
.ativo{
  color: #02972f;
}
.contatos-menu span{
  margin: 0 15px;
  font-size: 1.1rem;
}
.contatos-conteudo{
  margin-bottom: 8px;
}
.contatos-conteudo a{
  font-size: .9rem;
  padding: 0;
}
.contatos-header{
  display: flex;
  border: 1px solid #fff;
  cursor: pointer;
  padding: 12px;
  border-radius: 5px;
}
.contatos-corpo{
  text-align: left;
  border: 1px solid #fff;
  padding: 15px;
}
.contatos-corpo p{
  margin-bottom: 3px;
  font-size: 1rem;
}
.contatos-corpo span{
  color: #b9b9b9;
}
.mensagem{  
  transition: all .3s;
  margin: 8px 0;
}
.mensagem h4{
  margin-bottom: 3px;
}
.mensagem p{
  text-align: justify;
  padding: 10px 5px;
  line-height: 1.5;
}
.acoes{
  display: flex;
  justify-content: flex-end;
}
.acoes a{
  font-size: .9rem;
  padding: 0;
}
.nome{
  width: 40%;
  text-align: left;
    
}
.assunto{
  width: 20%;
  text-align: left;
}
.contatos-header .data{
  width: 40%;
  text-align: right;
}
.email span{
  text-transform: lowercase;
}
.sem-msg{
  border: 1px solid #fff;
  padding: 10px 5px;
  border-radius: 5px;
}

.contato .data{
  text-align: left;
}
.contato-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3px;
  padding: 0 8px;
}

  
.contato .btn{
  border-radius: 25px 0 0 25px;
  width: 100px;
  padding: 5px 15px;
  margin-bottom: 20px;
}

/* Modal */
.contato-escuro{
  opacity: .2;
}
.modal-excluir{
  width: 330px;
  background-color: #fcfff9;
  color: #303030;
  border-radius: 5px;
  position: absolute;
  top: -500px;
  /*left: calc(50% - 180px);*/
  left: calc(50% - 165px);
  transition: all .3s;
}
.modal-visivel{
  top: 30%;
}
.modal-header{
  border-bottom: 1px solid #c4c4c4;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.modal-header a{
  color: #303030;
}
.modal-excluir h4{
  text-transform: uppercase;
  
}
.modal-excluir p{
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
}
.modal-btns{
  border-top: 1px solid #c4c4c4;
  display: flex;
  justify-content: space-around;
  padding: 10px 0;
}
.modal-btns .btn{
  background-color: #0690ec;
  color: #fcfff9;
}
.modal-btns .btn:nth-child(1){
  background-color: #910202;
}


